@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Quicksand:wght@500;700&display=swap');

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    html {
        font-size: 62.5%;
    }

    body {
        font-size: 1.6rem;
        font-family: 'Poppins', sans-serif;
        color: #040404;
        background-color: #ffffff;
    }

    a {
        color: #101114;
        text-decoration: none;
    }

    a .botoncito {
        background-color: wheat;
    }
    button {
        font-size: 18px;
        /*color: #181818;**/
        font-family: inherit;
        font-weight: 800;
        cursor: pointer;
        position: relative;
        border: none;
        background: none;
        text-transform: uppercase;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: color;
      }
      
      button:focus,
      button:hover {
        color: #39007a;
      }
      
      button:focus:after,
      button:hover:after {
        width: 100%;
        left: 0%;
      }
      
      button:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #001755;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
      }

    .cd-intro {
        position: relative;
        height: 100vh;
        width: 100%;
        /* vertically align its content */
        display: table;
        background: #f0ecec;
        overflow: hidden;
    }

    .cd-intro-content {
        /* vertically align inside its parent */
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0 5%;
        background: #e8e8e8;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .cd-intro-content h1 {
        font-size: 2.4rem;
        color: #0C0121;
    }

    .cd-intro-content p {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.4;
        margin: 1em 0;
        color: #0d0d0e;
    }

    .cd-intro-content .action-wrapper {
        display: inline-block;
    }

    .cd-intro-content .action-wrapper::after {
        clear: both;
        content: "";
        display: table;
    }

    .cd-intro-content .action-wrapper>* {
        float: left;
    }

    @media only screen and (min-width: 768px) {
        .cd-intro-content h1 {
            font-size: 5.2rem;
            font-weight: 300;
        }

        .cd-intro-content p {
            font-size: 1.6rem;
            margin: 1.5em 0 1.9em;
        }
    }

    .cd-btn {
        display: inline-block;
        padding: 1.2em 1.4em;
        font-size: 1.3rem;
        color: #0f0f0f;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        background-color: #000818;
        border-radius: .25em;
        margin-right: 1.5em;
    }

    .cd-btn:nth-of-type(2) {
        margin-right: 0;
    }

    .cd-btn.main-action {
        background-color: #384279;
    }

    @media only screen and (min-width: 480px) {
        .cd-btn {
            padding: 1.2em 1.6em;
        }
    }

    @media only screen and (min-width: 768px) {
        .cd-btn {
            padding: 1.4em 1.8em;
        }
    }

    .cd-intro-content h1,
    .cd-intro-content h1 span,
    .cd-intro-content p,
    .cd-intro-content .cd-btn {
        opacity: 0;
        -webkit-animation-duration: 0.8s;
        -moz-animation-duration: 0.8s;
        animation-duration: 0.8s;
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .no-cssanimations .cd-intro-content h1,
    .no-cssanimations .cd-intro-content h1 span,
    .no-cssanimations .cd-intro-content p,
    .no-cssanimations .cd-intro-content .cd-btn {
        opacity: 1;
    }

    .mask.cd-intro-content h1 {
        position: relative;
        padding-bottom: 10px;
        /* overwrite default style */
        opacity: 1;
        font-weight: 700;
        /* <h1> text is not visible - it is used only as a container for the ::after element */
        color: transparent;
        overflow: hidden;
    }

    .mask.cd-intro-content h1::after {
        /* this is the animated text */
        content: attr(data-content);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: #161616;
        -webkit-animation-name: cd-reveal-up;
        -moz-animation-name: cd-reveal-up;
        animation-name: cd-reveal-up;
        -webkit-animation-fill-mode: backwards;
        -moz-animation-fill-mode: backwards;
        animation-fill-mode: backwards;
    }

    .mask.cd-intro-content h1 span {
        position: relative;
        display: inline-block;
        opacity: 1;
    }

    .mask.cd-intro-content h1 span::before {
        /* this is the loading bar */
        content: '';
        position: absolute;
        top: calc(100% + 8px);
        left: -1em;
        height: 2px;
        width: calc(100% + 2em);
        background-color: #42056b;
        -webkit-animation: cd-loading-mask 1s 0.3s both;
        -moz-animation: cd-loading-mask 1s 0.3s both;
        animation: cd-loading-mask 1s 0.3s both;
    }

    @media only screen and (min-width: 768px) {
        .mask.cd-intro-content h1 {
            padding-bottom: 20px;
        }

        .mask.cd-intro-content h1 span::before {
            top: calc(100% + 18px);
        }
    }

    .mask.cd-intro-content p {
        position: relative;
        margin: 0;
        padding: 10px 0 0;
        -webkit-animation-name: cd-reveal-down;
        -moz-animation-name: cd-reveal-down;
        animation-name: cd-reveal-down;
    }

    @media only screen and (min-width: 768px) {
        .mask.cd-intro-content p {
            padding-top: 20px;
        }
    }

    .mask.cd-intro-content h1::after,
    .mask.cd-intro-content p {
        -webkit-animation-duration: 0.4s;
        -moz-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-delay: 0.7s;
        -moz-animation-delay: 0.7s;
        animation-delay: 0.7s;
    }

    .mask.cd-intro-content .action-wrapper {
        overflow: hidden;
    }

    .mask.cd-intro-content .action-wrapper .cd-btn {
        opacity: 1;
        margin: 0 0 0 1.5em;
    }

    .mask.cd-intro-content .action-wrapper .cd-btn:first-of-type {
        margin-left: 0;
    }

    @-webkit-keyframes cd-loading-mask {

        0%,
        100% {
            -webkit-transform: scaleX(0);
        }

        40%,
        60% {
            -webkit-transform: scaleX(1);
        }
    }

    @-moz-keyframes cd-loading-mask {

        0%,
        100% {
            -moz-transform: scaleX(0);
        }

        40%,
        60% {
            -moz-transform: scaleX(1);
        }
    }

    @keyframes cd-loading-mask {

        0%,
        100% {
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
        }

        40%,
        60% {
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
            transform: scaleX(1);
        }
    }