/* -------------------------------- 

File#: _1_hero
Title: Hero
Descr: A full-width callout section
Usage: codyhouse.co/license

-------------------------------- */

/* reset */
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  * {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background-color: hsl(0, 0%, 100%);
    font-family: system-ui, sans-serif;
    color: hsl(230, 7%, 23%);
    font-size: 1.125rem; /* 18px */
    line-height: 1.4;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.2;
    color: hsl(230, 13%, 9%);
    font-weight: 700;
  }
  
  h1 {
    font-size: 2.5rem; /* 40px */
  }
  
  h2 {
    font-size: 2.125rem; /* 34px */
  }
  
  h3 {
    font-size: 1.75rem; /* 28px */
  }
  
  h4 {
    font-size: 1.375rem; /* 22px */
  }
  
  ol, ul, menu {
    list-style: none;
  }
  
  button, input, textarea, select {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    -webkit-appearance: none;
            appearance: none;
  }
  
  textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
  }
  
  a {
    color: hsl(250, 84%, 54%);
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  img, video, svg {
    display: block;
    max-width: 100%;
  }
  
  /* -------------------------------- 
  
  Buttons 
  
  -------------------------------- */
  
  .cd-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.375em;
    font-size: 1em;
    text-decoration: none;
    line-height: 1.2;
    cursor: pointer;
    transition: 0.2s;
    will-change: transform;
  }
  
  .cd-btn:focus-visible {
    outline: none;
  }
  
  .cd-btn:active {
    transform: translateY(2px);
  }
  
  .cd-btn--primary {
    background: hsl(250, 84%, 54%);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 
                0 1px 3px hsla(250, 84%, 38%, 0.25), 
                0 2px 6px hsla(250, 84%, 38%, 0.1), 
                0 6px 10px -2px hsla(250, 84%, 38%, 0.25);
    color: hsl(0, 0%, 100%);
  }
  
  .cd-btn--primary:hover {
    background: hsl(250, 84%, 60%);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 
                0 1px 2px hsla(250, 84%, 38%, 0.25), 
                0 1px 4px hsla(250, 84%, 38%, 0.1), 
                0 3px 6px -2px hsla(250, 84%, 38%, 0.25);
  }
  
  .cd-btn--primary:focus-visible {
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 
                0 1px 2px hsla(250, 84%, 38%, 0.25), 
                0 1px 4px hsla(250, 84%, 38%, 0.1), 
                0 3px 6px -2px hsla(250, 84%, 38%, 0.25), 
                0 0 0 2px hsl(0, 0%, 100%), 
                0 0 0 4px hsl(250, 84%, 54%);
  }
  
  /* -------------------------------- 
  
  Component 
  
  -------------------------------- */
  
  .hero {
    position: relative;
    z-index: 1;
    padding: 4.5rem 0;
    background-color: hsl(240, 4%, 95%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .hero__label {
    font-size: 0.9375rem;
    color: hsla(230, 13%, 9%, 0.4);
  }
  
  .hero__cta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  
  .hero--center {
    text-align: center;
  }
  
  .hero--center .hero__cta {
    justify-content: center;
  }
  
  .hero--right {
    text-align: right;
  }
  
  .hero--right .hero__cta {
    justify-content: end;
  }
  
  .hero--overlay-layer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.65);
    z-index: 1;
  }
  
  .hero--overlay-layer > * {
    position: relative;
    z-index: 2;
  }
  
  .hero--full-screen {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 64rem) {
    .hero {
      padding: 7rem 0;
    }
  }
  
  /* -------------------------------- 
  
  Utilities 
  
  -------------------------------- */
  
  .cd-margin-bottom-2xs {
    margin-bottom: 0.75rem;
  }
  
  .cd-margin-bottom-xs {
    margin-bottom: 1rem;
  }
  
  .cd-margin-bottom-sm {
    margin-bottom: 1.5rem;
  }
  
  .cd-container {
    width: calc(100% - 3rem);
    margin-left: auto;
    margin-right: auto;
  }
  
  .cd-max-width-xs {
    max-width: 32rem;
  }
  
  .cd-max-width-adaptive-sm,
  .cd-max-width-adaptive-md,
  .cd-max-width-adaptive-lg {
    max-width: 32rem;
  }
  
  @media (min-width: 48rem) {
    .cd-max-width-adaptive-sm,
    .cd-max-width-adaptive-md,
    .cd-max-width-adaptive-lg {
      max-width: 48rem;
    }
  }
  
  @media (min-width: 64rem) {
    .cd-max-width-adaptive-md,
    .cd-max-width-adaptive-lg {
      max-width: 64rem;
    }
  }
  
  @media (min-width: 85.5rem) {
    .cd-max-width-adaptive-lg {
      max-width: 80rem;
    }
  }
  
  .cd-flex {
    display: flex;
  }
  
  .cd-justify-end {
    justify-content: end;
  }
  
  .cd-link {
    color: hsl(250, 84%, 54%);
    text-decoration: none;
    background-image: linear-gradient(to right, hsl(250, 84%, 54%) 50%, hsla(250, 84%, 54%, 0.2) 50%);
    background-size: 200% 1px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transition: background-position 0.2s;
  }
  
  .cd-link:hover {
    background-position: 0% 100%;
  }
  
  .cd-link--contrast-higher {
    color: hsl(230, 13%, 9%);
    background-image: linear-gradient(to right, hsl(230, 13%, 9%) 50%, hsla(230, 13%, 9%, 0.1) 50%);
  }
  
  .cd-line-height-lg {
    line-height:normal;
  }